<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">
      Web Application Development - COMP229 - SEC. 010 - F2022
    </h6>
  </nav>
</footer>