<!-- Bottom Nav -->
<footer style="position:relative">
  <nav class="navbar  navbar-light glass">
    <h6 class="display-6 navbar-text">
      Web Application Development - COMP229 - SEC. 010 - F2022
    </h6>
  </nav>
</footer>
