<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6 class="display-9 navbar-text">&copy; Copyright 2022 All Rights Reserved.</h6>
      </div>
    </nav>
  </footer>

      <!--Script Section-->

      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/Scripts/app.js"></script>
    </body>
    </html>