<!-- Members (Name - Student ID)
David Pietrocola –301247544 
Jacob Todasco – 301251200 
Jungyu Lee – 301236221 
Menal Humeda – 301160220 
Ryan Arafeh – 301239052 
Zack Havers – 301202845  -->

<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6 class="display-9 navbar-text">&copy; Copyright 2022 All Rights Reserved.</h6>
      </div>
    </nav>
  </footer>

      <!--Script Section-->

      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/Scripts/app.js"></script>
    </body>
    </html>