<!-- Main Navigation -->

  <nav class="navbar navbar-expand-lg navbar-light glass">
    
    <a class="navbar-brand" href="/"><img src="/Assets/images/Logo.png" alt="logo" width="30" height="30">Alphard Survey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home"){ %>
        <li class="nav-item">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
        </li>

        <% if (title == "About Us") { %>
        <li class="nav-item">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About Us </a>
        </li>

        <% if (title == "Survey") { %>
          <li class="nav-item">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/survey-list"><i class="fas fa-book"></i> Survey </a>
          </li>  

      <% if (title == "Contact") { %>
        <li class="nav-item">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/contact"><i class="fas fa-envelope-open-text"></i> Contact  </a>
        </li> 

        <% if(typeof displayName == 'string' && displayName) { %>
          <li class="nav-item"><a href="/profile" class="nav-link"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
        <% } %>
    </div>
  </nav>
