<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">

          <% if (title == "Home"){ %>
            <li class="nav-item active">
            <% } else  { %>
            <li class="nav-item">
            <% } %>
              <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
            </li>

            <% if (title == "About Us") { %>
            <li class="nav-item active">
            <% } else  { %>
            <li class="nav-item">
            <% } %>
              <a class="nav-link" href="/about"><i class="fas fa-mobile-alt"></i> About Us </a>
            </li>

            <% if (title == "Surveys") { %>
              <li class="nav-item active">
              <% } else  { %>
              <li class="nav-item">
              <% } %>
                <a class="nav-link" href="/survey-list"><i class="fa-solid fa-address-book"></i> Surveys </a>
              </li>

            <% if(typeof displayName == 'string' && displayName) { %>
              <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
              <li class="nav-item"><a href="/logout" class="nav-link">
                <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
            <% } else { %>
              <li class="nav-item"><a href="/login" class="nav-link">
                <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
            <% } %>
    </div>
  </nav>