<html>
    <head>
        <title>Home Page</title>

       </head>
       <style>
        table {
          border-collapse: separate;
          border-spacing: 0 15px;
        }
        th {
          background-color: #4287f5;
          color: white;
        }
        th,
        td {
          width: 150px;
          text-align: center;
          border: 1px solid black;
          padding: 5px;
        }
        h2 {
          color: #4287f5;
        }
      </style>
       <body>
        <img src="Assets/images/Logo.png" alt="logo picture" height="100" width="200">
    
   
        <div>
           <h2> ALPHARD SURVEY</h2>
           <h3 style="color:brown">TEAM MEMBERS ROLES</h3>

           <p>  
            <table>
                <tr>
                    <th> Names</th>
                    <th>Roles</th>
                </tr>
                <tr>
                    <td>David Piertrocola     </td>
                    <td> DB Designer</td>
                </tr>

                <tr>
                    <td>Jacob Todasco</td>
                    <td>Full-stack Developer</td>
                </tr>
                <tr>
                    <td>Jungyu Lee </td>
                    <td>Project Manager</td>
                </tr>
                <tr>
                    <td>Menal Humeda</td>
                    <td>Lead Software Engineer</td>
                </tr>
                <tr>
                    <td>Ryan Arefeh</td>
                    <td>UI Programmer</td>
                </tr>
                <tr>
                    <td>Zack Havers</td>
                    <td> Web Designer</td>
                </tr>
            </table>
          

           </p>
                    
           
        </div>
        </body>
</html>