<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!--<div class="aboutContent">
        <div class="titleAbout">
            <div class="titleText">
                <h1>About Us</h1>
            </div>
        </div>
            <div class="aboutBox">
                <img src="/Assets/images/David.jpg" alt="David Pietrocola">
                    <div class="aboutText">
                        <h1>David Pietrocola</h1>
                        <h1>DB Designer</h1>
                    </div>
            </div>
            <div class="aboutBox">
                <img src="/Assets/images/Jungyu.jpg" alt="Jungyu Lee">
                    <div class="aboutText">
                        <h1>Jungyu Lee</h1>
                        <h1>Lead Software Engineer</h1>
                    </div>
            </div>
            <div class="aboutBox">
                <img src="/Assets/images/Ryan.jpg" alt="Ryan Arefeh">
                    <div class="aboutText">
                        <h1>Ryan Arefeh</h1>
                        <h1>UI Programmer</h1>
                    </div>
            </div>
            <div class="aboutBox">
                <img src="/Assets/images/Jacob.jpg" alt="Jacob Todasco">
                    <div class="aboutText">
                        <h1>Jacob Todasco</h1>
                        <h1>Full Stack Developer</h1>
                    </div>
            </div>
            <div class="aboutBox">
                <img src="/Assets/images/Zachary.jpg" alt="Zachary Havers">
                    <div class="aboutText">
                        <h1>Zachary Havers</h1>
                        <h1>Web Designer</h1>
                    </div>
            </div>
            <div class="aboutBox">
                <img src="/Assets/images/Menal.jpg" alt="Menal Humeda">
                    <div class="aboutText">
                        <h1>Menal Humeda</h1>
                        <h1>Project Manager</h1>
                    </div>
        </div>
    </div> -->
<div class="gridcard">
    <div class="aboutBox">
        <img src="/Assets/images/David.jpg" alt="David Pietrocola">
        <div class="aboutText">
            <h1>David Pietrocola</h1>
            <h1>DB Designer</h1>
        </div>
    </div>
    <div class="aboutBox">
        <img src="/Assets/images/Jungyu.jpg" alt="Jungyu Lee">
        <div class="aboutText">
            <h1>Jungyu Lee</h1>
            <h1>Lead Software Engineer</h1>
        </div>
    </div>
    <div class="aboutBox">
        <img src="/Assets/images/Ryan.jpg" alt="Ryan Arefeh">
        <div class="aboutText">
            <h1>Ryan Arefeh</h1>
            <h1>UI Programmer</h1>
        </div>
    </div>
    <div class="aboutBox">
        <img src="/Assets/images/Jacob.jpg" alt="Jacob Todasco">
        <div class="aboutText">
            <h1>Jacob Todasco</h1>
            <h1>Full Stack Developer</h1>
        </div>
    </div>
    <div class="aboutBox">
        <img src="/Assets/images/Zachary.jpg" alt="Zachary Havers">
        <div class="aboutText">
            <h1>Zachary Havers</h1>
            <h1>Web Designer</h1>
        </div>
    </div>
    <div class="aboutBox">
        <img src="/Assets/images/Menal.jpg" alt="Menal Humeda">
        <div class="aboutText">
            <h1>Menal Humeda</h1>
            <h1>Project Manager</h1>
        </div>
    </div>
</div>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>