<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="Assig.css" />
       </head>
       <body>
        <img src="public/images/mylogo.jpg" alt="logo picture" height="200" width="400">
        
        
       
        <div>
           <h2> ALPHARD SURVEY</h2>
           <h3>TEAM MEMBERS ROLES</h3>
           <img src="../images/Logo.png" alt="my Picture" height="100" width="200">

         </ul>

        </div>
        </body>
</html>