<html>
    <head>
        <title>About Us</title>

    </head>
<body>
    <%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
    <main class="container">
        <div class="offset-md-4 col-md-6" id="aboutBox">
           <h3 class="role-header">Team Member Roles</h3>
            <table>
                <tr class="role-tr">
                    <th class=role-th>Name</th>
                    <th class=role-th>Role</th>
                </tr>
                <tr class="role-tr">
                    <td class=role-td>David Piertrocola </td>
                    <td class=role-td>DB Designer</td>
                </tr>
                <tr class="role-tr">
                    <td class=role-td>Jacob Todasco</td>
                    <td class=role-td>Full-stack Developer</td>
                </tr>
                <tr class="role-tr">
                    <td class=role-td>Jungyu Lee </td>
                    <td class=role-td>Lead Software Engineer</td>
                </tr>
                <tr class="role-tr">
                    <td class=role-td>Menal Humeda</td>
                    <td class=role-td>Project Manager</td>
                </tr>
                <tr class="role-tr">
                    <td class=role-td>Ryan Arefeh</td>
                    <td class=role-td>UI Programmer</td>
                </tr>
                <tr class="role-tr">
                    <td class=role-td>Zack Havers</td>
                    <td class=role-td> Web Designer</td>
                </tr>
            </table>
        </div>
    </main>
</body>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>

</html>
