<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<body class="contInfo"></body>

<center><main class="container">

    <h2 class="contact"> Contact Us</h2>
    <h4 class="headfour"> If you have any query you can contact us here!</h4>
    <br>
    <br>
    <div>
        <form method="post" autocomplete="off">
        <fieldset>
            <input class="input" type="text" id="name" name="name" placeholder="Name" required>
            <input class="input" type="text" id="email" name="email" placeholder="Email" required>
            <br>
            <br>
            <input class="subject" type="text" id="subject" name="subject" placeholder="Subject" required>
            <br>
            <br>
            <input class="comment" type="text" id="comment" name="comment" placeholder="Comment" required>
            <br><br>
           <button class="btn btn-secondary btn-lg" id="submit"> Send</button>
           <br> <br>
        </fieldset>
    </form>
    </div>

</main></center>
</body>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
