<html>
    
    <head>
        <title>Contact Us Page</title>

    </head>
    <%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

     <main id="container">  
    <body class="contInfo">
        

           <h2 class="contact"> Contact Us</h2>
           <h4 class="headfour"> If you have any query you can contact us here!</h4>
          <div>

           <fieldset >
               <input class="input" type="text" id="name" name="name" placeholder="Name....."> 
               <input class="input" type="text" id="email" name="email" placeholder="Email...."><br>
               <input class="subject" type="text" id="subject" name="subject" placeholder="Subject............."><br>
               <input class="comment" type="text" id="comment" name="comment" placeholder="Comment.............">


           </fieldset>
        </div>
        <input type="button" id="send" value="Send" />

         <script>
                function sendinfo()
                {
                  var name = document.getElementById("name").value;
                  var email= document.getElementById("email").value;
                  var subject= document.getElementById("subject").value;
                  var comment = document.getElementById("comment").value;   
                  alert("THANK YOU!");
                }

                var send = document.getElementById("send");
                   send.addEventListener("click", sendinfo, false);

         </script>


    </body>
</main>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
</html>