section {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color:  white;
}

.waveTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waveTop svg {
  position: relative;
  display: block;
  width: calc(158% + 1.3px);
  height: 371px;
}

.waveTop .shape-fill {
  fill: #3317EC;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(289% + 1.3px);
  height: 371px;
}

.wave .shape-fill {
  fill: #3317EC;
}
