/* custom css goes here */
body {
  padding-bottom: 260px;
}

.role-header {
  text-align: left;
}

.role-tr {
  text-align: center;
}
.role-th {
  border: 1px solid black;
  background-color: #4287f5;
  color: white;
}
.role-td {
  width: 150px;
  border: 1px solid black;
  padding: 5px;
}

#answerForm {
  margin-top: 30px;
  border-style: solid;
  border-radius: 10px;
  padding-bottom: 20px;
  width: 80%;
}

#answerForm p,
label,
input {
  margin-top: 20px;
  margin-bottom: 10px;
}

#qtl {
  background-color: lightgrey;
  width: 100%;
  padding-left: 5px;
  border-radius: 10px;
}

#ans {
  background-color: lightgreen;
  width: 100%;
  padding-left: 5px;
  border-radius: 10px;
}

#answerForm button {
  margin-top: 30px;
}

.jumbotron {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0);
}

#editBox label {
  background-color: lightgrey;
  width: 100%;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 2px 2px lightgreen;
}

#editBox {
  margin-top: 30px;
  border-style: solid;
  padding-bottom: 20px;
  width: 50%;
  border-radius: 10px;
}

#btn1 {
  width: 100%;
  margin-top: 10px;
}

#responseForm {
  border-style: solid;
  border-radius: 10px;
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.logoMain {
  margin-top: 100px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#container {
  text-align: center;
}
.contact {
  padding-top: 50px;
  font-size: 4em;
  opacity: 0.5;
}
.input {
  padding-left: 10px;
  border-radius: 20px;
  width: 200px;
  height: 35px;
}
.subject {
  border-radius: 20px;
  width: 400px;
  height: 35px;
  padding: 10px;
}
.comment {
  border-radius: 20px;
  width: 400px;
  height: 100px;
  padding: 10px;
}
.headfour {
  padding-top: 60px;
}

.titleAbout {
  background-color: lightgrey;
  box-shadow: 10px 10px lightblue;
  margin-top: 30px;
  margin-bottom: 40px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
}

.titleText {
  font-family: "Bebas Neue", cursive;
  font-size: 200px;
}

.aboutContent {
  width: 90%;
  margin: auto;
}

.aboutBox {
  background-color: rgba(211, 211, 211, 0.504);
  box-shadow: 10px 10px #abf8de;
  padding: 10px;
  margin-bottom: 40px;
  height: fit-content;
  border-radius: 10px;
  font-family: "Bebas Neue", cursive;
  margin-left: 3rem;
  margin-right: 3rem;
}

.aboutBox img {
  width: 200px;
  height: 200px;
  border-radius: 40px;
}

.aboutText {
  font-family: "Bebas Neue", cursive;
  float: right;
  text-align: right;
  padding-right: 20px;
}

.profile-container {
  margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.user-data {
  width: fit-content;
  margin: auto;
  background-color: lightblue;
  text-align: left;
  margin-top: 30px;
  padding: 10%;
  border-radius: 10px;
  box-shadow: 22px 22px 85px #c5c5c5, -22px -22px 85px #fbfbfb;
}

/* Login css page */
* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

@keyframes gradient {
  100% {
    background-size: 4000px 1000px;
  }
}



@media (width >= 500px) {
  body {
    padding: 0;
  }
}
.log_page{
  display: flex;
  justify-content: center;
}
.login {
  position: absolute  ;
  margin:10px auto 100px;
  width: 90%;
  padding: 70px 30px 44px;
  border-radius: 22px;
  background: #161616;
  text-align: center;
}

@media (width >= 450px) {
  .login {
    width: 380px;
  }
}

.avatar {
  margin: 0 auto 16px;
  border-radius: 50%;
  background: linear-gradient(-45deg, hsl(0, 0%, 100%), #ffffff);
  padding: 2px;
  width: 120px;
  height: 120px;
}

.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

  border: 4px solid #161616;
}

.login > h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 4px;
}

.login > h3 {
  color: rgba(255, 255, 255, 0.38);
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 16px;
}

.login-form {
  display: grid;
  gap: 16px;
  place-items: center;
  width: 100%;
  margin: 0;
}

.textbox {
  width: 100%;
  position: relative;
}

.textbox span {
  position: absolute;
  top: 50%;
  left: 16px;
  translate: 0 -50%;
  color: rgba(255, 255, 255, 0.38);
}

.login-form input,
.login-form button {
  width: 100%;
  height: 60px;
  outline: none;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  border-radius: 8px;
}

.login-form input {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  font-size: 18px;
  padding: 0 20px 0 50px;
  color: inherit;
}

.login-form input:focus {
  border-color: #157ae1;
}

.login-form input:focus ~ span {
  color: #157ae1;
}

.login-form button {
  cursor: pointer;
  background: #157ae1;
  color: #f9f9f9;
  border: 0;
  font-weight: 600;
  letter-spacing: 2px;
}

.login-form a {
  color: #157ae1;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}