<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet">
<div class="loginBox">
  <img src="./assets/images/Logo.png" class="logo">
  <h1>ALPHARD SURVEYS</h1>
  <input type="text" name="username" placeholder="Enter Username">
  <input type="password" name="password" placeholder="Enter Password">
  <button class="loginBtn">Login</button>
</div>
